#gallery_heading {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 700;
    font-size: 4rem;
    color: whitesmoke;
    margin-top: 3%;
    @media (max-width: 700px) {
        font-size: 3rem;
    }
}

#gallery_container {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    gap: 3%;
    justify-content: center;
    padding: 10%;
    @media (max-width: 700px) {
        gap: 1%;
    }
}
.gallery_box {
    height: 50%;
    flex-basis: auto;
    flex-grow: 0;
    border-radius: 10%;
    overflow: hidden;
    @media (max-width: 700px) {
        height: 20%;
    }
}
.gallery_img {
    height: 100%;
}