#home {
    height: 80vh;
    display: flex;
    flex-flow: row;
    padding: 10%;
    background-color: #010112;
    background-image: url('../assets/background.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    @media (max-width: 1000px) {
        flex-flow: column;
        padding: 2%;
        justify-content: space-around;
    }
}

.heading {
    @media (max-width: 480px) {

    }
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 700;

    opacity: 0; /* Initial state */
    animation: fadeIn 2s forwards; /* Apply the animation */
}

#heading_container {
    color: white;
    width: 50%;
    @media (max-width: 1000px) {
        font-size: 3rem;
        width: 100%;
    }
    font-size: 4rem;
}
#heading_2 {
    color: red;
}
.home_btns {
    margin: 2%;
}

#truck_img_container {
    @media (max-width: 1000px) {
        width: 100%;
        justify-content: center;
    }
    width: 50%;
}
#truck_img {
    @media (max-width: 1000px) {
        width: 80%;
    }
    width: 100%;
    opacity: 0; /* Initial state */
    animation: fadeIn 2s forwards; /* Apply the animation */
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
